@import "tailwindcss";

@theme {
  --font-family: sans-serif; /* General font family is Space Grotesk */

  --text-height-40: 40px;
  --text-height-24: 24px;
  --text-height-32: 32px;

  --text-title-base: 16px;
  --text-title-medium: 18px;
  --text-title-large: 24px;
  --text-title-xlarge: 32px;
  --text-title-height: 40px;
  --text-body-base: 16px;
  --text-body-medium: 18px;
  --text-body-large: 20px;

  --color-primary-1: hsl(332 100% 97%);
  --color-primary-5: hsl(329 100% 89%);
  --color-primary-10: hsl(330 100% 82%);
  --color-primary-20: hsl(328 100% 66%);
  --color-primary-30: hsl(324 100% 54%);
  --color-primary-40: hsl(318 100% 44%);
  --color-primary-50: hsl(310 100% 38%);
  --color-primary-60: hsl(301 100% 33%);
  --color-primary-70: hsl(293 100% 26%);

  --color-neutral-0: hsl(0 0% 100%);
  --color-neutral-5: hsl(220 33% 98%);
  --color-neutral-10: hsl(240 22% 96%);
  --color-neutral-20: hsl(233 17% 91%);
  --color-neutral-30: hsl(234 10% 81%);
  --color-neutral-40: hsl(234 6% 68%);
  --color-neutral-50: hsl(240 9% 49%);
  --color-neutral-60: hsl(240 13% 22%);
  --color-neutral-70: hsl(0 0% 0%);

  --color-functional-poisitive: hsl(148 79% 53%);
  --color-functional-danger: hsl(360 87% 63%);

  --color-user-orange-40: hsl(22 100% 69%);
  --color-user-purple-40: hsl(286 58% 64%);
  --color-user-blue-30: hsl(221 100% 71%);
  --color-user-blue-40: hsl(203 100% 42%);
  --color-user-blue-50: hsl(194 100% 33%);
  --color-user-green-40: hsl(175 98% 38%);
  --color-user-green-50: hsl(166 60% 39%);

  --color-userCompliments-yellow-40: hsl(58 100% 50%);
  --color-userCompliments-green-30: hsl(130 100% 61%);
  --color-userCompliments-gold-40: hsl(47 100% 55%);

  --shadow-elevation-4: 0px 4px 0px 0px black;
  --shadow-elevation-6: 0px 6px 0px 0px black;
  --shadow-elevation-8: 0px 8px 0px 0px black;

  --icon-size-16: 16px;
  --icon-size-24: 24px;
  --icon-size-32: 32px;

  --spacing-1: 4px;
  --spacing-2: 6px;
  --spacing-3: 8px;
  --spacing-4: 12px;
  --spacing-5: 16px;
  --spacing-6: 24px;
  --spacing-7: 32px;
  --spacing-8: 40px;
  --spacing-9: 48px;
  --spacing-10: 56px;
  --spacing-11: 64px;
  --spacing-12: 72px;
  --spacing-13: 80px;
}
